<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Eventos — Evently</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Eventos</h1>
        <a sec:authorize="hasAnyRole('ADMIN','ORGANIZADOR')"
           th:href="@{/events/new}" class="btn-primary">
            Novo evento
        </a>
    </div>

    <div th:if="${sucesso}" class="alert alert-sucesso">
        <span th:text="${sucesso}"></span>
    </div>

    <div class="cards-grid">
        <div th:each="event : ${events}" class="card-evento">

            <img th:if="${event.coverImage != null}"
                 th:src="${event.coverImage.startsWith('http') ? event.coverImage : '/uploads/' + event.coverImage}"
                 alt="Capa do evento"/>
            <div th:if="${event.coverImage == null}" class="card-sem-imagem">
                Sem imagem
            </div>

            <div class="card-body">
                <span th:if="${event.category != null}"
                      class="badge-categoria"
                      th:text="${event.category.name}"></span>

                <h2 th:text="${event.title}"></h2>
                <p th:text="${event.description}"></p>

                <div class="card-info">
                    <span th:text="${#temporals.format(event.eventDate, 'dd/MM/yyyy HH:mm')}"></span>
                    <span th:text="${event.location}"></span>
                    <span th:text="${event.availableSlots} + ' vagas disponíveis'"></span>
                </div>

                <span class="badge-status"
                      th:text="${event.eventStatus}"
                      th:classappend="${event.eventStatus.name() == 'ATIVO'} ? 'status-ativo' :
                      (${event.eventStatus.name() == 'CANCELADO'} ? 'status-cancelado' :
                      'status-outros')">
                </span>

                <div class="card-actions">
                    <a th:href="@{/events/{id}(id=${event.id})}">Ver detalhes</a>

                    <div sec:authorize="hasAnyRole('ADMIN','ORGANIZADOR')">
                        <a th:href="@{/events/{id}/edit(id=${event.id})}">Editar</a>
                        <form th:action="@{/events/{id}/archive(id=${event.id})}"
                              method="post" style="display:inline">
                            <button type="submit"
                                    onclick="return confirm('Deseja Arquivar este evento?')">
                                Arquivar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p th:if="${#lists.isEmpty(events)}">Nenhum evento disponível.</p>
</div>

</body>
</html>